
*
{
    margin: 0;
    padding: 0;
}

/* Navigation */

#nav-bar
{   
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img
{
    height: 65px;
    width: 150px;
    padding-left: 30px;
}

.navbar-nav li
{
    padding: 0 10px;
}

.navbar-nav li a
{
    float: right;
    text-align: left;
}

#nav-bar ul li a
{
    color : black !important;
}

#nav-bar ul li a:hover
{
    color : blue !important;
}

.navbar
{
    background: #fff;
}

.navbar-toggler
{
    border: none !important;
}

.nav-link
{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}

.fa-desktop
{
    padding-right: 5px;
}
.fa-map-marker
{
    padding-right: 5px;
}

.fa-exchange
{
    padding-right: 5px;
}

.fa-search
{
    padding-right: 5px;
}

.fa-users
{
    padding-right: 5px;
}

.fa-sign-in
{
    padding-right: 5px;
}

.fa-phone
{
    padding-right: 5px;
}

/* SLider*/  

.d-block
{   
    height: 650px;
    width: 95%;
    padding-left: 5%;
}   


.carousel-caption h5
{
    color : #efefef;
    font-size: 42px;
}

#slider h1
{
    text-align: center;
    border-radius: 25px;
    border-width: 100px;
    background: black;
    width: 70%;
    padding-bottom: 5px;
    padding-top: 5px;
    color: #fff;
    font-size: 40px;
}

#slider .container
{
    width: 85%;
    padding-left: 10%;
    padding-right: 10%;
    transform: translateY(-400px);
}

#slider .container .fa-search
{
    font-size: 15px;
}

#slider .container .btn-primary
{
    background: orange;
    width:100px;
    height: 40px;
    text-align: center;
}

.form-control
{
    padding: 25px;
    font-size: 20px;
}

/* Find Your Properties*/

#property1
{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
    text-align: center;
}
#slider1
{
    width: 100%;
    text-align: center;
}
.s1
{
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    bottom: initial!important;
}
#headerslider1
{
    text-align: center;
}

.s1 h5
{
    text-align: center;
    border-radius: 25px;
    border-width: 50px;
    background:lightcoral;
    width: 300px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: #fff;
    font-size: 42px;
}

.d-block1
{   
    text-align: center;
    height: 350px;
    width: 95%;
}

.skills-bar-2 ul
{
    padding-left: 100px;
}


/* About*/
#about
{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}

#about .btn
{
    margin-top: 20px;
    margin-bottom : 30px;
}
.about-content
{
    padding-top: 20px;
}

.skills-bar p
{
    margin-bottom: 12px;
    font-weight: 600;
}

.progress-bar
{
    border-radius: 16px;
}

.progress
{
    border-radius: 16px !important;
    margin-bottom: 20px;
}

/* Services */

#services
{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(pic2.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}

#services h1
{
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px; 
}

#services h1::after
{
    content: '';
    background: #efefef;
    display: block;
}

.services
{
    margin-top: 40px;
}

.icon
{
    font-size: 40px;
    margin: 20px auto;
    height: 65px;
    width: 85px;
    border: 2px solid #fff;
    border-radius: 50%;
}

#services p
{
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}

.services .col-md-4:hover
{
    background: #007bff;
    cursor: pointer;
    transition: 0.7s;
    
}

/* Team */

#team
{
    padding-top:  50px;
    padding-bottom: 50px;
    color: #555;
}

#team h1
{
    text-align: center;
    color: #555 !important;
    padding-bottom: 10px;
}

#team h1::after
{
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

.profile-pic
{
    margin-top: 25px;
}

.profile-pic .img-box
{
    opacity: 1;
    display: block;
    position: relative;
}

.profile-pic .img-box img
{
    filter: grayscale(1);
}

.profile-pic .img-box img:hover
{
    filter: grayscale(0);
    cursor: pointer;
}

.profile-pic h2
{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    color: #007bff !important;
}

.profile-pic h3
{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}

#team .fa
{
    height: 25px;
    width: 25px;
    color: #007bff !important;
    padding: 4px;
    border-radius: 50%;
}

.img-box ul
{
    padding: 15px 0;
    position: absolute;
    z-index: 2;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.img-box ul li
{
    padding: 5px;
    display: inline-block;
}

.img-box:hover ul
{
    opacity: 1;
}

.img-box ul, .img-box ul li
{
    transition: 0.5s;
}

/* Promo */

#promo
{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) , url(pic3.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    background-attachment: fixed;
    text-align: center;
    padding: 100px;
    font-family: sans-serif;
    font-size: 38px;
}

/* Price Plans*/

#price h1
{
    text-align: center;
    color: #555 !important;
    padding-bottom: 10px;
}

#price h1::after
{
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

#price
{
    padding: 40px;
    background: #efefef;
}

.single-price
{
    margin: 10px auto;
    display: inline;
    float: left;
    width: 100%;
    background-color: #fff;
    transition: 0.5s;
}

.single-price:hover
{
    box-shadow: 0 2px 20px  #333;
}

.price-head
{
    background-color: #2196f3;
    display: inline;
    float: left;
    padding: 10px 5px;
    text-align: center;
    width: 100%;
}

.price-head h2
{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px;
    text-transform: uppercase;
}
.price-head p
{
    font-size: 25px;
    color: #ccc;
    font-weight: bold;
    line-height: 30px;
}

#price span
{
    font-size: 15px;
}

.price-content
{
    display: inline;
    float: left;
    width: 100%;
    padding: 0 15px;
}

.price-content ul li
{
    border-bottom: 1px solid #efefef;
    padding: 15px 10px;
    list-style: none;
}

ul li:last-child
{
    border:none;
}

.fa-check-circle
{
    color: green;
    margin-right: 10px;
    font-size: 20px;
}

.fa-times-circle
{
    color: red;
    margin-right: 10px;
    font-size: 20px;
}

.price-button
{
    display: inline;
    float: left;
    padding: 15px 15px 30px;
    text-align: center;
    width: 100%;
}

.buy-btn
{
    background-color: #2196f3;
    border-radius: 3px;
    display: inline-block;
    font-size: 18px;
    padding: 15px 50px;
    transition: 0.5s;
}

.buy-btn:hover
{
    border-color: 1px solid #fff;
    background-color: #3f51b5;
}

a
{
    text-decoration: none !important;
    color: #fff !important;
}