/* The navigation menu links */


#title-bar
{
    height: 60px;
    width:100%;
    background-color:darkred;
    border-radius: 20px;
    
}

.logo
{
    float:left;
    padding-left:5px;
    height:inherit;
    width:10%;
    border-style:solid;
    background-color:violet;

}
.left-title
{
    float:left;
    padding-left:7px;
    width:60%;
    height:inherit;

    border-radius: 20px;
    background-color:blue;

}
.left-title .menu-options
{
    float:left;
    border-style: solid;
    border-width:3px;
    margin-left:2.2%;
    padding-left:10px;
    height:inherit;
    width:10%;
    background-color:violet;

}