extends layout2

append head
  link(rel='stylesheet' href='/fonts/material-design-iconic-font/css/material-design-iconic-font.css')
  // DATE-PICKER
  link(rel='stylesheet' href='/vendor/date-picker/css/datepicker.min.css')
  // STYLE CSS
  link(rel='stylesheet' href='/css/style_sell.css')
  script(src='/js/jquery-3.3.1.min.js')
  // JQUERY STEP
  script(src='/js/jquery.steps.js')
  // DATE-PICKER
  script(src='/vendor/date-picker/js/datepicker.js')
  script(src='/vendor/date-picker/js/datepicker.en.js')
  script(src='/js/main_1.js')

block content
  .wrapper
    form#wizard(method='POST' action='/property/sell')
      // SECTION 1
      h4
      section
        != messages('message',locals)
        if errors
          h1 #{errors}
        h3 Property Name
        .form-row
          .form-col
            label(for='name')
              | Property Name
            .form-holder
              i.zmdi.zmdi-account-o
              input.form-control(type='text',name = 'name')
          .form-col
            label(for='isBuilder')
              | Are you a Builder
            .form-holder
              i.zmdi.zmdi-account-o
              select.form-control(name='isBuilder' id='isBuilder')
                option.option(value='yes') Yes
                option.option(value='no') No
              i.zmdi.zmdi-chevron-down
        .form-row
          .form-col
            label(for='description')
              | Description
            .form-holder
              i.zmdi.zmdi-edit
              input.form-control2(type='text', name ='description')

      // SECTION 2
      h4
      section
        h3 Select Amenities
        .form-row2
          .form-col2
            .form-holder
              input.form-control3(type='checkbox',name = 'Gym') 
              .labelinline(for='Gym') Gym
          .form-col2 
            .form-holder
              input.form-control3(type='checkbox',name = 'Lawn_Free_Space') 
              .labelinline(for='Lawn_Free_Space') Lawn/Free Space
        .form-row2
          .form-col2
            .form-holder
              input.form-control3(type='checkbox',name = 'Security') 
              .labelinline(for='Security') Security
          .form-col2
            .form-holder
              input.form-control3(type='checkbox',name = 'CCTV') 
              .labelinline(for='CCTV') CCTV
        .form-row2
          .form-col2
            .form-holder
              input.form-control3(type='checkbox',name = 'School_within_5') 
              .labelinline(for='School_within_5') School Within 5KM
          .form-col2
            .form-holder
              input.form-control3(type='checkbox',name = 'Hospital_within_5') 
              .labelinline(for='Hospital_within_5') Hospital Within 5KM
        .form-row2
          .form-col2
            .form-holder
              input.form-control3(type='checkbox',name = 'Railway_within_5') 
              .labelinline(for='Railway_within_5') Railway Station within 5KM
          .form-col2
            .form-holder
              input.form-control3(type='checkbox',name = 'Airport_within_5') 
              .labelinline(for='Airport_within_5') Airport within 5KM
        .form-row2
          .form-col2
            .form-holder
              input.form-control3(type='checkbox',name = 'water') 
              .labelinline(for='water') 24 X 7 Water
          .form-col2
            .form-holder
              input.form-control3(type='checkbox',name = 'electricity') 
              .labelinline(for='electricity') 24 X 7 Electricity
        .form-row2
          .form-col2
            .form-holder
              input.form-control3(type='checkbox',name = 'Lift') 
              .labelinline(for='Lift') Lift
          .form-col2
            .form-holder
              input.form-control3(type='checkbox',name = 'Club_House') 
              .labelinline(for='Club_House') Club House

      // SECTION 3
      h4
      section
        h3(style='margin-bottom: 37px;') Locality
        .form-row
          .form-col
            label(for='location')
              | Town / City
            .form-holder
              i.zmdi.zmdi-home
              input.form-control(type='text',name = 'location')
          .form-col
            label(for='zipcode')
              | Postcode / Zip
            .form-holder
              i.zmdi.zmdi-pin-drop
              input.form-control(type='text',name = 'zipcode')
        .form-row
          .form-col
            label(for='BHK')
              | No of BHK
            .form-holder
              i.zmdi.zmdi-home
              input.form-control(type='text',name = 'BHK')
          .form-col
            label(for='sqfoot')
              | SQ Foot 
            .form-holder.password
              i.zmdi.zmdi-home
              input.form-control(type='text', name = 'sqfoot')
          .form-col
            label(for='price') Price
            .form-holder
              i.zmdi.zmdi-home
              input.form-control(type='number',name='price')
        .form-row
          .form-col
            .form-holder
              input.btn.btn-primary(type='submit',value = 'Submit')

