
*
{
    margin: 0;
    padding: 0;
}

/* Navigation */

#nav-bar
{   
    top: 0;
    /* z-index: 10; */
}

.navbar-brand img
{
    height: 65px;
    width: 150px;
    padding-left: 30px;
}

.navbar-nav li
{
    padding: 0 10px;
}

.navbar-nav li a
{
    float: right;
    text-align: left;
}

#nav-bar ul li a
{
    color : black !important;
}

#nav-bar ul li a:hover
{
    color : blue !important;
}

.navbar
{
    background: #fff;
}

.navbar-toggler
{
    border: none !important;
}

.nav-link
{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}

.fa-desktop
{
    padding-right: 5px;
}
.fa-map-marker
{
    padding-right: 5px;
}

.fa-exchange
{
    padding-right: 5px;
}

.fa-search
{
    padding-right: 5px;
}

.fa-users
{
    padding-right: 5px;
}

.fa-sign-in
{
    padding-right: 5px;
}

.fa-phone
{
    padding-right: 5px;
}

/* Second Nav Bar for property showing  */

#nav-bar-1
{   
    color: black;
    position: sticky;
    top: 0;
    z-index: 10;
}

#nav-bar-1 .navbar-nav li
{
    
    padding: 0 10px;
}

.navbar-nav li a
{
    float: right;
    text-align: left;
}

#nav-bar-1 ul li a
{
    color : black !important;
}

#nav-bar-1 ul li a:hover
{
    color : blue !important;
}

#nav-bar-1 .navbar
{
    background: lightgrey;  
}

#nav-bar-1 .navbar-toggler
{
    border: none !important;
}

#nav-bar-1 .nav-link
{
    color: black!important;
    font-weight: 600;
    font-size: 16px;
}

#nav-bar-1 .dropdown-menu
{
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    padding: 5px;
}

#nav-bar-1 .dropdown-item
{
    border-right: none;
    border-left: none;
    border-bottom: 0.5px solid lightgrey;
}

#nav-bar-1 .a1
{
    border-bottom: none !important;
}


/* 
#price h1
{
    text-align: center;
    color: #555 !important;
    padding-bottom: 10px;
}

#price h1::after
{
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
} */


/*              */
/* Showing Property */
/*               */


#price .container
{
    display: grid;  
    grid-template-columns: 500 500px 500px;  
    grid-template-rows: 420px 420px 420px;
}


.price-head
{
    display: inline;
    padding: 10px 5px;
}

.single-price
{
    margin: 10px auto;
    display: inline;
    float: left;
    width: 100%;
    background-color: blue;
    transition: 0.5s;
}

.single-price:hover
{
    box-shadow: 0 2px 20px  #333;
}

.container .h5
{
    color: #fff;
    font-size: 0px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px;
    text-transform: uppercase;
}

.price span
{
    font-size: 15px;
}

.price-content
{
    display: inline;
    float: left;
    width: 100%;
    padding: 0 15px;
}

.price-content ul li
{
    border-bottom: 1px solid #efefef;
    padding: 15px 10px;
    list-style: none;
}

ul li:last-child
{
    border:none;
}

/* .fa-check-circle
{
    color: green;
    margin-right: 10px;
    font-size: 20px;
}

.fa-times-circle
{
    color: red;
    margin-right: 10px;
    font-size: 20px;
} */

.price-button
{
    display: inline;
    float: left;
    padding: 15px 15px 30px;
    text-align: center;
    width: 100%;
}

.buy-btn
{
    background-color: #2196f3;
    border-radius: 3px;
    display: inline-block;
    font-size: 18px;
    padding: 15px 50px;
    transition: 0.5s;
}

.buy-btn:hover
{
    border-color: 1px solid #fff;
    background-color: #3f51b5;
}

a
{
    text-decoration: none !important;
    color: #fff !important;
}

.ff
{
    color: black;
    font-weight: 700;
}


/* Below is Same as Home Page */


/* Find Your Properties*/

#property1
{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
    text-align: center;
}
#slider1
{
    width: 100%;
    text-align: center;
}
.s1
{
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    bottom: initial!important;
}
#headerslider1
{
    text-align: center;
}

.s1 h5
{
    text-align: center;
    border-radius: 25px;
    border-width: 50px;
    background:lightcoral;
    width: 300px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: #fff;
    font-size: 42px;
}

.d-block1
{   
    text-align: center;
    height: 350px;
    width: 95%;
}

.skills-bar-2 ul
{
    padding-left: 100px;
}


/* About*/
#about
{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}

#about .btn
{
    margin-top: 20px;
    margin-bottom : 30px;
}
.about-content
{
    padding-top: 20px;
}

.skills-bar p
{
    margin-bottom: 12px;
    font-weight: 600;
}

.progress-bar
{
    border-radius: 16px;
}

.progress
{
    border-radius: 16px !important;
    margin-bottom: 20px;
}

/* Services */

#services
{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(pic2.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}

#services h1
{
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px; 
}

#services h1::after
{
    content: '';
    background: #efefef;
    display: block;
}

.services
{
    margin-top: 40px;
}

.icon
{
    font-size: 40px;
    margin: 20px auto;
    height: 65px;
    width: 85px;
    border: 2px solid #fff;
    border-radius: 50%;
}

#services p
{
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}

.services .col-md-4:hover
{
    background: #007bff;
    cursor: pointer;
    transition: 0.7s;
    
}

/* Team */

#team
{
    padding-top:  50px;
    padding-bottom: 50px;
    color: #555;
}

#team h1
{
    text-align: center;
    color: #555 !important;
    padding-bottom: 10px;
}

#team h1::after
{
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

.profile-pic
{
    margin-top: 25px;
}

.profile-pic .img-box
{
    opacity: 1;
    display: block;
    position: relative;
}

.profile-pic .img-box img
{
    filter: grayscale(1);
}

.profile-pic .img-box img:hover
{
    filter: grayscale(0);
    cursor: pointer;
}

.profile-pic h2
{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    color: #007bff !important;
}

.profile-pic h3
{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}

#team .fa
{
    height: 25px;
    width: 25px;
    color: #007bff !important;
    padding: 4px;
    border-radius: 50%;
}

.img-box ul
{
    padding: 15px 0;
    position: absolute;
    z-index: 2;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.img-box ul li
{
    padding: 5px;
    display: inline-block;
}

.img-box:hover ul
{
    opacity: 1;
}

.img-box ul, .img-box ul li
{
    transition: 0.5s;
}

/* Promo */

#promo
{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) , url(pic3.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    background-attachment: fixed;
    text-align: center;
    padding: 100px;
    font-family: sans-serif;
    font-size: 38px;
}

/* Price Plans*/

#price h1
{
    text-align: center;
    color: #555 !important;
    padding-bottom: 10px;
}

#price h1::after
{
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

#price
{
    padding: 40px;
    background: #efefef;
}

.single-price
{
    margin: 10px auto;
    display: inline;
    float: left;
    width: 100%;
    background-color: #fff;
    transition: 0.5s;
}

.single-price:hover
{
    box-shadow: 0 2px 20px  #333;
}

.price-head
{
    background-color: #2196f3;
    display: inline;
    float: left;
    padding: 10px 5px;
    text-align: center;
    width: 100%;
}

.price-head h2
{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px;
    text-transform: uppercase;
}
.price-head p
{
    font-size: 25px;
    color: #ccc;
    font-weight: bold;
    line-height: 30px;
}

#price span
{
    font-size: 15px;
}

.price-content
{
    display: inline;
    float: left;
    width: 100%;
    padding: 0 15px;
}

.price-content ul li
{
    border-bottom: 1px solid #efefef;
    padding: 15px 10px;
    list-style: none;
}

ul li:last-child
{
    border:none;
}

.fa-check-circle
{
    color: green;
    margin-right: 10px;
    font-size: 20px;
}

.fa-times-circle
{
    color: red;
    margin-right: 10px;
    font-size: 20px;
}

.price-button
{
    display: inline;
    float: left;
    padding: 15px 15px 30px;
    text-align: center;
    width: 100%;
}

.buy-btn
{
    background-color: #2196f3;
    border-radius: 3px;
    display: inline-block;
    font-size: 18px;
    padding: 15px 50px;
    transition: 0.5s;
}

.buy-btn:hover
{
    border-color: 1px solid #fff;
    background-color: #3f51b5;
}

a
{
    text-decoration: none !important;
    color: #fff !important;
}

/* Footer */

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}