extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Sign Up

        // register form
        form(method='POST' action='/users/register')
          div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', placeholder='Enter full Name' name='name')
          div.form-group
            label(for='email') Email:
            input#email.form-control(type='email', placeholder='Enter your email' name='email')
          div.form-group
            label(for='username') Username:
            input#username.form-control(type='text', placeholder='Enter username' name='username')
          div.form-group
            label(for='password') Password:
            input#password.form-control(type='password', placeholder='Enter password' name='password')
          div.form-group
            label(for='password2') Confirm Password:
            input#password2.form-control(type='password',placeholder='Re-enter password' name='password2')
          div.form-group
            label(for='mobileno') Mobile Number:
            input#mobileno.form-control(type='text',placeholder='Enter your mobile number' name='mobileno')
          br
          input.btn.btn-primary(type='submit',value = 'Sign Up') 