extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 #{title}

        // register form
        form(method='POST' action='/property/sell')
          div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', placeholder='Enter property name' name='name')
          div.form-group
            label(for='description') Description:
            textarea#description.form-control(placeholder='Enter property description' name='description')
          div.form-group
            label(for='ownername') Owner:
            input#ownername.form-control(type='text', placeholder='Enter owner name' name='ownername')
          div.form-group
            label(for='isBuilder') Are you a Builder:
            label(for='isBuilderyes') Yes
            input(id='yes',type = "radio", name='isBuilder',value='Yes')
            label(for='isBuilderno') No
            input(id='no',type = "radio", name='isBuilder',value='No')
          div.form-group
            label(for='location') Location:
            input#location.form-control(type='text',placeholder='Enter location' name='location')
          div.form-group
            label(for='sqfeet') Sq Feet:
            input#sqfeet.form-control(type='text',placeholder='Enter sqfeet' name='sqfeet')
          div.form-group
            label(for='BHK') No of BHK:
            input#BHK.form-control(type='text',placeholder='Enter No of BHK' name='BHK')
          br
          input.btn.btn-primary(type='submit',value = 'Post Property') 