/* use this as general back color #b7c8c5*/

/* Color for other div is  #fee9e8;  */
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
    background-color: #b7c8c5;
}
.header
{
    position: absolute;   
    height:inherit;
    display:flex;
    top:350px;
    left:20%;
    justify-content: center;
    align-items:center;
    z-index:3;
    font-size:3.2rem;
    font-family:sans-serif;
}

.myH1
{
    color:#fff;
    margin-bottom:20px;
    font-size:2.8rem;
    letter-spacing:2px;
    text-align:center;

}
.search-field
{
    height:50px;
    padding:10px;
    border:none;
    border-radius: 25px;
    outline:none;

}
.business
{
    width:400px;
}
.location
{
    margin-top:10px;
    width:300px;
}
.search-btn
{
    margin-top:10px;
    height:50px; 
    width:150px;
    background:#ffeb3b;
    border:none;
    color:#000;
    border-radius: 25px;
     
}
.aboutUs
{
    width:100%;
    margin-top:40px;
    margin-bottom:40px;
    padding-bottom:40px;
    box-shadow: 0px 30px 40px grey, 30px 0px 40px grey;    
    background-color:#fee9e8;
    border-radius:50px ;
}
.myH2 {

    padding-top:30px;
    padding-bottom:20px;
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:5%;
	padding-right:5%;
	font-size: 20px;
}

/* -------------------------------------------------------------------------------------------------------------------- */










.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height:350px;
    
    -ms-overflow-style: none;
}
.card 
{
    width:300px;
    height:inherit;
    display: inline-block;
    background-color:lightblue;
    margin-left:30px;
    border-radius:10px;
}
.card-title
{
    font-size:1.9rem;
    overflow:hidden;
}
.card-body
{
    height:180px;
    font-size:1.6rem;
    font-weight: 500;
}
 /* Hide scrollbar for Chrome, Safari and Opera */
.scrolling-wrapper::-webkit-scrollbar {
    display: none;
  }


.display-content
{
    height:580px;
    background-color:#fee9e8;
    margin-top:40px;
    box-shadow: 0px 30px 40px grey, 30px 0px 40px grey;
    margin-bottom:40px;
    scrollbar-width:0px ;
}






.scrolling-wrapper
{
    scrollbar-width:none ;
} 
 .area-content
{
    height:auto;
    background-color:#fee9e8;
    margin-top:40px;
    box-shadow: 0px 30px 40px grey, 30px 0px 40px grey;
    margin-bottom:40px;


}

.area-info
{
    
    margin-bottom:40px;
    box-shadow: 0px 30px 40px grey, 30px 0px 40px grey;
    
} 


@media screen and (min-width:1150px){
    .header{
        left:20%;
    }
}
@media screen and (max-width:1150px){
    .header{
        left:10%;
        top:300px;
        font-size:2.8rem;
    }
    .business
    {
        width:350px;
    }
    .location
    {
        width:280px;
    }
    .search-btn
    {
        height:50px; 
        width:130px;
        background:#ffeb3b;
        border-radius: 25px;
        
    }
}
@media screen and (max-width:900px){
    .header{
        left:7%;
        top:230px;
        font-size: 2.6rem;
    }
    .business
    {
        width:300px;
    }
    .location
    {
        width:250px;
    }
    .search-btn
    {
        height:50px; 
        width:120px;
        background:#ffeb3b;
        border-radius: 25px;
        
    }
}
@media screen and (max-width:757px){
    .header{
        left:4%;
        top:190px;
        font-size: 2.2rem;
    }
    .business
    {
        width:250px;
    }
    .location
    {
        width:200px;
    }
    .search-btn
    {
        height:50px; 
        width:80px;
        background:#ffeb3b;
        border-radius: 15px;
    }
}
@media screen and (max-width:594px)
{
    .header{
        left:2%;
        top:130px;
        font-size:2rem
    }
    .business
    {
        width:220x;
    }
    .location
    {
        margin-top:10px;
        width:160px;
    }
    .search-btn
    {
        margin-top:10px;
        height:50px; 
        width:70px;
        background:#ffeb3b;
        border:none;
        color:#000;
        border-radius: 25px;

    }
}
