@font-face {
  font-family: "Poppins-Regular";
  src: url("../../fonts/poppins/Poppins-Regular.ttf"); }
@font-face {
  font-family: "Poppins-Medium";
  src: url("../../fonts/poppins/Poppins-Medium.ttf"); }
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../../fonts/poppins/Poppins-SemiBold.ttf"); }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}
  .modal-dialog{
    height: 600px;
    width: 60%; 
}
#mapid{
    height: 500px;
    width: 100%;
}
.modal-footer{
  align-items: center;
  margin: 0;
  padding: 20px;
  left:40%;
  width: 100%;
}
.modal-footer .btn{
  margin: 0;
  margin-right: 20px;
  padding: 0;
  display: inline;
}
#address{
    display: block;
    margin: 0px auto 15px auto;
    width: 400px;
    height: 40px;
    border-radius: 7px;
}
#searchError{
    width: 400px;
    height: 40px;
    line-height: 40px;
    margin: 0px auto 15px auto;
    border: solid;
    border-width: thin;
    border-radius: 7px;
    border-color: #c92432;
    color: #c92432;
    background-color: #fffafa;
    padding-left: 10px;
    display: none;
}
body {
  margin: 0;
  background: url("../../images/41430066.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  height: 100vh;
  align-items: center;
}

:focus {
  outline: none; }

textarea {
  resize: none; }

input, textarea, select, button {
  font-family: "Poppins-Regular";
  font-size: 14px;
  color: #333; }

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer; }
  select option[value=""][disabled] {
    display: none; }

p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0; }
  h1{
    text-transform: uppercase;
    font-size: 15px;
    font-family: "Poppins-Regular";
    text-align: center;
    margin-bottom: 28px; 
    color: #f11a09;
  }
ul {
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  text-decoration: none; }

textarea {
  resize: none; }

img {
  max-width: 100%;
  vertical-align: middle; }

.wrapper {
  width: 819px;
  margin: auto;
  padding: 7px;
  /* background: url("../images/form-bg.png") repeat;  */}

.wizard {
  position: relative;
  background: #fff;
  padding: 50px 58px 0;
  height: 548px; 
  transform: translateY(15%);
}

.steps .current-info, .steps .number {
  display: none; }

.steps {
  position: absolute;
  right: 42px;
  top: 5px;
  z-index: 9; }
  .steps ul {
    position: relative; }
    .steps ul:before {
      content: "1";
      font-size: 40px;
      color: #ccc;
      font-family: "Poppins-Medium"; }
    .steps ul:after {
      content: "/ 3";
      font-size: 15px;
      color: #ccc;
      font-family: "Poppins-Medium";
      position: absolute;
      left: 16px;
      top: 13px;
      width: 22px; }
    .steps ul.step-2:before {
      content: "2"; }
    .steps ul.step-2:after {
      left: 31px; }
    .steps ul.step-3:before {
      content: "3"; }
    .steps ul.step-3:after {
      left: 31px; }

h3 {
  font-family: "Poppins-SemiBold";
  font-size: 35px;
  color: #3377c0;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 32px; }



.form-row {
  display: flex;
  margin-bottom: 25px; 
  font-size: 20px;}
  .form-row .form-col {
    width: 50%;
    margin-right: 40px; }
    .form-row .form-col:last-child {
      margin-right: 0; }
  .form-row2{
    display: flex;
    margin-bottom: 25px; 
    font-size: 20px;
  }
  .form-row2 .form-col2 {
    width: 50%;
    margin-right: 40px; 
  }

.form-col label {
  color: #333;
  font-size: 15px;
  margin-bottom: 7px;
  display: block; }

  .form-row2 .form-col2 .form-holder .labelinline {
    font-size: 15px;
    color: #333;
    margin-bottom: 7px;
    display: inline-block; }

.form-holder {
  position: relative; }
  .form-holder i:not(.zmdi-chevron-down) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    font-size: 17px; }
  .form-holder i.zmdi-chevron-down {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    font-size: 17px; }
  .form-holder.password i {
    cursor: pointer; }

.form-control {
  height: 42px;
  border: 1px solid #ccc;
  width: 100%;
  background: none;
  font-size: 15px;
  padding-left: 46px;
  color: #999;
  font-family: "Poppins-Medium";
  /* &::-webkit-input-placeholder { 
  	color: #333;
  }
  &::-moz-placeholder { 
  	color: #333;
  }
  &:-ms-input-placeholder { 
  	color: #333;
  }
  &:-moz-placeholder { 
  	color: #333;
  } */ }

.form-control[type='file']{
  font-size: 15px;  
  height: 40px;
}
#chooseLocation.btn{
  width:150px;
  margin-top: 0;
  left:80px;
}
.btn {
  border: none;
  width: 110px;
  height: 40px;
  margin: auto;
  margin-top: 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #ae3c33;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Poppins-Medium";
  overflow: hidden;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  transform: translateX(-107%);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s; }
  .btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f11a09;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .btn:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); }

  .form-control2{
    height: 100px;
    border: 1px solid #ccc;
    width: 200%;
    background: none;
    font-size: 15px;
    padding-left: 46px;
    color: #999;
    font-family: "Poppins-Medium";
  }
  .form-control3{
    height: 15px;
    border: 1px solid #ccc;
    width: 15%;
    background: none;
    font-size: 15px;
    padding-left: 1px;
    color: #999;
    padding-top: 20px;
    font-family: "Poppins-Medium";
  }

.form-control:focus {
  border-color: #3377c0; }

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.grid-item {
  width: 31.25%;
  display: flex;
  margin-bottom: 21px;
  cursor: pointer; }
  .grid-item .thumb {
    width: 86.04%; }
  .grid-item .heading {
    width: 13.96%;
    text-transform: uppercase;
    font-size: 11px;
    background: #b3b3b3;
    color: #fff;
    font-family: "Poppins-Medium";
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    letter-spacing: 1px; }
  .grid-item.active .heading {
    background: #3377c0; }
  .grid-item:hover img {
    opacity: 0.6; }

.actions ul {
  display: flex;
  justify-content: space-between;
  margin-top: 42px; }
  .actions ul.mt-7 {
    margin-top: 7px; }
.actions li a {
  border: none;
  display: inline-flex;
  height: 42px;
  width: 112px;
  align-items: center;
  color: #fff;
  cursor: pointer;
  background: #3377c0;
  text-transform: uppercase;
  justify-content: center;
  letter-spacing: 1px; }
  .actions li a:hover {
    background: #3b87d9; }
.actions li:first-child a {
  background: none;
  border: 1px solid #3377c0;
  color: #3377c0; }
  .actions li:first-child a:hover {
    border-color: transparent;
    color: #fff;
    background: #3b87d9; }
.actions li[aria-disabled="true"]:before {
  font-size: 15px;
  content: "All fields are required."; }
.actions li[aria-disabled="true"] a {
  display: none; }

@media (max-width: 850px) {


  h3 {
    font-size: 30px; }

  .wrapper {
    width: auto;
    padding: 0; }

  .wizard {
    height: auto;
    padding: 60px 20px 20px; }

  .form-row {
    display: block; }
    .form-row .form-col {
      width: 100%;
      margin-right: 0;
      margin-bottom: 25px; }
  .form-row .form-col .form-control2{
    width: 100%;
  }
  .form-row .form-col .btn {
    margin-right: 0;
    margin-bottom: 10px;
    width : 110px; 
    transform: translateX(-1%);}
  #chooseLocation.btn{
    left:0;
    width:170px
  }
  .actions ul {
    flex-direction: column;
    align-items: flex-end; }
    .actions ul li {
      margin-bottom: 20px; }

  .grid-item {
    width: 47%;
    display: block; }
    .grid-item .thumb {
      width: 100%; }
    .grid-item .heading {
      width: 100%;
      writing-mode: unset;
      transform: rotate(0);
      padding: 10px 0;
      font-size: 13px; } 

    }

/* 
@media (max-width: 760px) {
  .form-row2 .form-col2 .btn {
    margin-right: 0;
    margin-bottom: 10px;
  transform:translateX(280%) }
}

@media (max-width: 700px) {
  .form-row2 .form-col2 .btn {
    margin-right: 0;
    margin-bottom: 10px;
  transform:translateX(260%) }
}
@media (max-width: 650px) {
  .form-row2 .form-col2 .btn {
    margin-right: 0;
    margin-bottom: 10px;
  transform:translateX(240%) }
} */

@media (max-width: 600px) {
  .form-row2 .form-col2 .btn {
    margin-right: 0;
    margin-bottom: 10px;
  transform:translateX(220%) }
}
/*# sourceMappingURL=style.css.map */
