@font-face {
    font-family: "Poppins-Regular";
    src: url("../../fonts/poppins/Poppins-Regular.ttf"); }
@font-face {
    font-family: "Poppins-SemiBold";
    src: url("../../fonts/poppins/Poppins-SemiBold.ttf"); }
*
{
    margin: 0;
    padding: 0;
    font-family: Poppins-Regular;
}
section{
    background-color: rgb(230, 230, 230);
}


/* Second Nav Bar for property showing  */

#nav-bar-1
{   
    color: black;
    top: 0;
    z-index: 10;
}

#nav-bar-1 .navbar-nav li
{
    padding: 0 10px;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light{
  top:65px
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}

#nav-bar-1 ul li a
{
    color : black !important;
    font-size: 20px;
}

#nav-bar-1 ul li a:hover
{
    color : blue !important;
}

#nav-bar-1 .navbar
{
    background: lightgrey;  
}

#nav-bar-1 .navbar-toggler
{
    border: none !important;
}

#nav-bar-1 .nav-link
{
    color: black!important;
    font-weight: 600;
    font-size: 16px;
}

#nav-bar-1 .dropdown-menu
{
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    padding: 5px;
}

#nav-bar-1 .dropdown-item
{
    border-right: none;
    border-left: none;
    border-bottom: 0.5px solid lightgrey;
    
}

#nav-bar-1 .a1
{
    border-bottom: none !important;
} 


/*              */
/* Showing Property */
/*               */

h3{
    font-size: 10px;
    font-family: Poppins-Regular;
    display: inline;
}
#price .container
{
    display: grid;  
    grid-template-columns: 500 500px 500px;  
    grid-template-rows: 420px 420px 420px;
}


.price-head
{
    display: inline;
    padding: 10px 5px;
}

.single-price
{
    margin: 10px auto;
    background-color: white;
    transition: 0.5s;
    height: auto;
}

.single-price:hover
{
    box-shadow: 0 2px 20px  #333;
}

.container .h5
{
    color: #fff;
    font-size: 0px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px;
    text-transform: uppercase;
}

.price span
{
    font-size: 15px;
}

.price-content
{
    display: inline;
    padding: 0 15px;
}

.price-content ul li
{
    border-bottom: 1px solid #efefef;
    padding: 15px 10px;
    list-style: none;
}

ul li:last-child
{
    border:none;
}

/* .fa-check-circle
{
    color: green;
    margin-right: 10px;
    font-size: 20px;
}
.fa-times-circle
{
    color: red;
    margin-right: 10px;
    font-size: 20px;
} */

.price-button
{
    display: inline;
    padding: 5px 5px 3px;
    text-align: center;
}

.buy-btn
{
    background-color: rgb(72, 126, 1);
    color: black;
    border-radius: 10px;
    display: inline-block;
    font-size: 15px;
    padding: 7px 30px;
    transition: 0.5s;
    margin: 10px;
}

.buy-btn:hover
{
    border-color: 1px solid #fff;
    background-color: #3f51b5;
}

a
{
    text-decoration: none !important;
    color: white !important;
}

.ff
{
    color: black;
    font-weight: 700;
}



@media (max-width:991px)
{
  
  
  .buy-btn
{
    background-color: rgb(72, 126, 1);
    color: black;
    border-radius: 10px;
    display: inline-block;
    font-size: 10px;
    padding: 7px 15px;
    transition: 0.5s;
    margin: 10px;
    margin-top: 0;
}
}
@media (max-width:767px)
{
    img{
        display: none;
    }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}