@font-face {
  font-family: "Muli-Regular";
  src: url("../fonts/muli/Muli-Regular.ttf"); }
@font-face {
  font-family: "Muli-SemiBold";
  src: url("../fonts/muli/Muli-SemiBold.ttf"); }
@font-face {
  font-family: "Muli-Bold";
  src: url("../fonts/muli/Muli-Bold.ttf"); }

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.alert-error{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-success_msg{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

body{
  font-family: "Muli-Regular";
}
nav{
  background: #272323;
  height: 80px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 20px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #6c7175;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 1250px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 1250px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #32373a;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
.header{
  background: url(../images/41430066.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  align-items: center;
}
.header2{
  background: url(../images/img1.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  align-items: center;
}

.search-field{
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 25px;
  outline: none;
  position: absolute;
  top:35%;
  left: 45%;
  transform: translateX(-50%);
}
.location{
  width: 420px;
}
.search-btn{
  height: 50px;
  padding: 10px;
  width: 125px;
  background: #ffeb3b;
  border: none;
  color: #000;
  border-radius: 25px;
  outline: none;
  position: absolute;
  top:35%;
  left: 67%;
  transform: translateX(-50%);
}

.wrapper {
  min-height: 100vh;
  background-size: 200%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center; 
  transform: translateX(250px);
  width: auto;
}
h1{
  color: #000000;
  margin-bottom: 70px;
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translateX(-50%);
}
