doctype html
html
  head
    meta(charset='utf-8')
    title SmartBricks.com
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/css/style_d.css')
    block head
  body
    nav
      input#check(type='checkbox')
      label.checkbtn(for='check')
        i.fas.fa-bars
      label.logo SmartBrick.com
      ul
        li
          a(href='/') Home
        li
          a(href='/') Get Statistic
        li 
          a(href='/') Advanced Filter
        if !user
          li
            a(href='/users/register') Sign Up
          li
            a(href='/users/login') Login
        else
          li 
            a(href='/property/sell') Post Property
          li  
            a(href='/users/my_property') My Properties
          li  
            a(href='/users/logout') Logout
    block content
    footer
    ba
    footer 
      p Sen Group 21 : Trial 2
    script(src="https://kit.fontawesome.com/a076d05399.js")
    //- script(src='/bower_components/jquery/dist/jquery.js')  
    //- script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/js/main.js')