extends layout

block content
    h1 #{title}
    ul.list-group
        each property,i in properties
            if property.ownerid == id
                li.list-group-item
                    a(href="/property/"+property._id)= property.Name