extends layout2

append head
  link(rel="stylesheet" href="/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css")
  link(rel = 'stylesheet' href='/css/style_red.css')

block content
  .img
    .wrapper
      .inner
        .image-holder
          img(src='/images/8.jpg')
        form(method='POST' action='/users/register')
          != messages('message',locals)
          if errors
            h4 #{errors}
          h3 Sign Up
          .form-wrapper
            input.form-control(type='text' placeholder='Name' , name ='name')
            i.zmdi.zmdi-account
          .form-wrapper
            input.form-control(type='email' placeholder='Email Address',name = 'email')
            i.zmdi.zmdi-email
          .form-wrapper
            input.form-control(type='text' placeholder='Username' ,name = 'username')
            i.zmdi.zmdi-account
          .form-wrapper
            input.form-control(type='password' placeholder='Password',name = 'password')
            i.zmdi.zmdi-lock
          .form-wrapper
            input.form-control(type='password' placeholder='Confirm Password',name='password2')
            i.zmdi.zmdi-lock
          .form-wrapper
            input.form-control(type='text' placeholder='Enter Mobile number',name='mobileno')
            i.zmdi.zmdi-phone
          input.btn.btn-primary(type='submit',value = 'Sign Up') 
