extends layout2

append head
  link(rel='stylesheet' type='text/css' href='/vendor/property_request/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' type='text/css' href='/fonts/font-awesome-4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' type='text/css' href='/fonts/iconic/css/material-design-iconic-font.min.css')
  link(rel='stylesheet' type='text/css' href='/vendor/property_request/animate/animate.css')
  link(rel='stylesheet' type='text/css' href='/vendor/property_request/css-hamburgers/hamburgers.min.css')
  link(rel='stylesheet' type='text/css' href='/vendor/property_request/animsition/css/animsition.min.css')
  link(rel='stylesheet' type='text/css' href='/vendor/property_request/select2/select2.min.css')
  link(rel='stylesheet' type='text/css' href='/vendor/property_request/daterangepicker/daterangepicker.css')
  link(rel='stylesheet' type='text/css' href='/vendor/property_request/noui/nouislider.min.css')
  link(rel='stylesheet' type='text/css' href='/css/Verification_Request/util.css')
  link(rel='stylesheet' type='text/css' href='/css/Verification_Request/main.css')

block content
  .container-contact100
    .wrap-contact100
      form.contact100-form.validate-form(method='POST' action='/property/request/'+property._id)
        span.contact100-form-title
          | Request Verification
        .wrap-input100.validate-input.bg1(data-validate='Please Fill Address Line 1')
          span.label-input100 ADDRESS LINE 1 *
          input.input100(type='text' name='address1' placeholder='Enter Address Line 1')
        .wrap-input100.validate-input.bg1(data-validate='Please Fill Address Line 2')
          span.label-input100 ADDRESS LINE 2 *
          input.input100(type='text' name='address2' placeholder='Enter Address Line 2')
        .wrap-input100.validate-input.bg1.rs1-wrap-input100(data-validate='Please Enter City')
          span.label-input100 City *
          input.input100(type='text' name='city' placeholder='Enter City')
        .wrap-input100.validate-input.bg1.rs1-wrap-input100(data-validate='Please Enter State')
          span.label-input100 State *
          input.input100(type='text' name='state' placeholder='Enter State')
        .wrap-input100.validate-input.bg1.rs1-wrap-input100(data-validate='Please Enter Pincode')
          span.label-input100 Pincode *
          input.input100(type='text' name='pincode' placeholder='Enter Pincode')
        .wrap-input100.validate-input.bg1.rs1-wrap-input100(data-validate='Please Enter Varification Date')
          span.label-input100 Verification Date *
          input.input100(type='date' name='date' placeholder='Enter Verification Date')
        .wrap-input100.validate-input.input100-select.bg1(data-validate='Please Select Time')
          span.label-input100 Time of Verification *
          div
            select.js-select2(name='time')
              option Please chooses time
              option 11AM
              option 2PM
              option 5PM
            .dropDownSelect2
        .container-contact100-form-btn
          input.btn.btn-primary(type='submit',value = 'Submit')
  script(src='/vendor/property_request/jquery/jquery-3.2.1.min.js')
  script(src='/vendor/property_request/animsition/js/animsition.min.js')
  script(src='/vendor/property_request/bootstrap/js/popper.js')
  script(src='/vendor/property_request/bootstrap/js/bootstrap.min.js')
  script(src='/vendor/property_request/select2/select2.min.js')
  script.
    $(".js-select2").each(function(){
    $(this).select2({
    minimumResultsForSearch: 20,
    dropdownParent: $(this).next('.dropDownSelect2')
    });
    $(".js-select2").each(function(){
    $(this).on('select2:close', function (e){
    if($(this).val() == "Please chooses") {
    $('.js-show-service').slideUp();
    }
    else {
    $('.js-show-service').slideUp();
    $('.js-show-service').slideDown();
    }
    });
    });
    })
  script(src='/vendor/property_request/daterangepicker/moment.min.js')
  script(src='/vendor/property_request/daterangepicker/daterangepicker.js')
  script(src='/vendor/property_request/countdowntime/countdowntime.js')
  script(src='/vendor/property_request/noui/nouislider.min.js')
  script.
    var filterBar = document.getElementById('filter-bar');
    noUiSlider.create(filterBar, {
    start: [ 1500, 3900 ],
    connect: true,
    range: {
    'min': 1500,
    'max': 7500
    }
    });
    var skipValues = [
    document.getElementById('value-lower'),
    document.getElementById('value-upper')
    ];
    filterBar.noUiSlider.on('update', function( values, handle ) {
    skipValues[handle].innerHTML = Math.round(values[handle]);
    $('.contact100-form-range-value input[name="from-value"]').val($('#value-lower').html());
    $('.contact100-form-range-value input[name="to-value"]').val($('#value-upper').html());
    });
  script(src='/js/main_property_request.js')
  script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-23581568-13')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-23581568-13');